
.container{
    margin: 0 auto;
    margin-top: 10%;
    padding: 5% 5% 10% 5%;
    border: 2px solid black;
    text-align: center;
    width: 20%;
    background-color: rgb(223, 247, 239);
}
.section{
    margin-bottom: 20%;
}
.task {
    display: inline-flex; 
    margin: 2%;  
}
.box{
    border: 2px solid;
    text-align: left;
    width: 200px;
    
}
button{
    background-color:greenyellow;   
}
.task button{
    background-color: red;
}
